.white-section-about {
    width: 80%;
    margin: auto;
    margin-top: 0.5em;
    color: #0b4646;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.white-section-about>header {
    font-size: 0.5em;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.white-section-about>header div:nth-child(1) {
    font-size: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-section-about>header div:nth-child(2) {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-section-about>header div:nth-child(2) hr {
    display: block;
    height: 1px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #0b4646;
    background-color: #0b4646;
}

.white-section-about>article {
    font-size: 0.22em;
    flex-grow: 2;
    text-align: justify;
    padding: 1em;
}

.skills-header {
    font-size: 0.5em;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.skills-header>div:nth-child(1) {
    flex-grow: 3;
}

.skills-header>div:nth-child(2) {
    text-align: center;
    flex-grow: 1;
}

.skills-header>div:nth-child(3) {
    flex-grow: 3;
}

.skills-header hr {
    display: block;
    height: 1px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #0b4646;
    background-color: #0b4646;
}

.skills {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
}

.skills * {
    transition: color 0.5s;
}

.skills *:hover {
    transition: color 0.5s;
    color: #209292;
}

@media (max-width: 650px) {
    .white-section-about {
        min-height: 400px;
    }
}

@media (max-width: 950px) {
    .white-section-about>article {
        font-size: 0.3em;
    }
}