---
import { cn } from "@/utils"

export interface Props {
  component?: any
  class?: string
  title: string
  href?: string
  style?: "button" | "pill"
  small?: boolean
}

const { component: Tag = "a", class: className, title, href, style = "button", small } = Astro.props
---

<Tag
  class={cn(
    className,
    "inline-flex items-center gap-x-1 rounded-lg bg-primary-foreground border border-border px-2 py-1 text-sm transition-all hover:bg-input",
    !href && "cursor-default",
    style === "pill" && "rounded-xl",
    small && "text-xs",
  )}
  href={href}
  data-astro-prefetch
>
  <slot name="icon-before" />
  <p>{title}</p>
  <slot name="icon-after" />
</Tag>
