.container-career {
    background-color: #1d1d1d;
    color: #05caa5;
    border-radius: 50px;
    margin-top: 0.5em;
}

.black-section-career {
    width: 80%;
    margin: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.black-section-career>header {
    font-size: 0.5em;
    margin-top: 0.6em;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.black-section-career>header div:nth-child(2) {
    font-size: 1em;
    flex-grow: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.black-section-career>header div:nth-child(1) {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.black-section-career>header div:nth-child(1) hr {
    display: block;
    height: 1px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #05caa5;
    background-color: #05caa5;
}

.black-section-career>article {
    font-size: 0.22em;
    flex-grow: 5;
    justify-self: center;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.achievements-header {
    font-size: 0.5em;
    margin-top: 1.5em;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.achievements-header>div:nth-child(1) {
    flex-grow: 2;
}

.achievements-header>div:nth-child(2) {
    flex-grow: 1;
    text-align: center;
}

.achievements-header>div:nth-child(3) {
    flex-grow: 2;
}

.achievements-header hr {
    display: block;
    height: 1px;
    flex-grow: 1;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #05caa5;
    background-color: #05caa5;
}

.achievements {
    flex-grow: 1;
}

.achievements>ul {
    position: relative;
    font-size: 0.18em;
    list-style-position: outside;
    padding-left: 20%;
    margin-bottom: 2em;
}

.achievements>ul>li {
    padding: 0.2em 0;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #39f5d2;
}

@media (max-width: 14400px) {
    .achievements>ul {
        padding-left: 15%;
        font-size: 0.22em;
    }
}

@media (max-width: 1220px) {
    .achievements>ul {
        padding-left: 15%;
        font-size: 0.26em;
    }
}

@media (max-width: 950px) {
    .achievements>ul {
        padding-left: 15%;
        font-size: 0.3em;
    }
}

@media (max-width: 500px) {
    .achievements>ul {
        padding-left: 15%;
        font-size: 0.2em;
    }
}