.container-contact {
    background-color: #1d1d1d;
    color: #05caa5;
    border-radius: 50px 50px 0 0;
    margin-top: 0.5em;
}

.black-section-contact {
    width: 80%;
    margin: auto;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.black-section-contact>header {
    font-size: 0.5em;
    margin-top: 0.6em;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.black-section-contact>header div:nth-child(2) {
    font-size: 1em;
    flex-grow: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.black-section-contact>header div:nth-child(1) {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.black-section-contact>header div:nth-child(1) hr {
    display: block;
    height: 1px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #05caa5;
    background-color: #05caa5;
}

.black-section-contact section {
    flex-grow: 6;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.black-section-contact section a {
    transition: color 0.5s;
}

.black-section-contact section a:hover {
    transition: color 0.5s;
    color: #0b4646;
}

footer {
    flex-grow: 1;
    text-align: center;
    font-size: 0.12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1440px) {
    .black-section-contact {
        min-height: 300px;
    }
}

@media (max-width: 1220px) {
    .black-section-contact {
        min-height: 230px;
    }
    footer {
        font-size: 0.15em;
    }
}

@media (max-width: 950px) {
    .black-section-contact {
        min-height: 150px;
    }
    footer {
        font-size: 0.15em;
    }
}