<!-- Loads the following script that will render the Utterances comments based on the current theme
 <script
        src="https://utteranc.es/client.js"
        repo="leszkolukasz/portfolio-comments"
        issue-term="pathname"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
-->

<div id="comments-section">
  <div id="utterances-placeholder">
    <script is:inline>
        function getCurrentTheme() {
        return localStorage.getItem("theme") || "light";
        }

        function setUtterancesTheme(theme) {
        const utterancesScript = document.querySelector("#utterances-placeholder .utterances");

        if (utterancesScript) {
            utterancesScript.remove();
        }

        // Create a new script with the updated theme
        const newScript = document.createElement("script");
        newScript.src = "https://utteranc.es/client.js";
        newScript.crossOrigin = "anonymous";
        newScript.async = true;
        newScript.setAttribute("repo", "leszkolukasz/portfolio-comments");
        newScript.setAttribute("issue-term", "pathname");
        newScript.setAttribute("theme", theme === "dark" ? "github-dark" : "github-light");

        document.getElementById("utterances-placeholder").appendChild(newScript);
        }

        document.addEventListener("theme-change", (event) => {
        const newTheme = event.detail.theme;
        setUtterancesTheme(newTheme);
        });

        document.addEventListener("DOMContentLoaded", () => {
        const currentTheme = getCurrentTheme();
        setUtterancesTheme(currentTheme);
        });
    </script>
  </div>
  <!-- TODO: add spinner -->
</div>
